force-app/main/default/flows/FormSubmission_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FormSubmission_JobApplication</name>
        <label>FormSubmission_JobApplication</label>
        <locationX>275</locationX>
        <locationY>1524</locationY>
        <actionName>Job_Application__c.FormSubmission_JobApplication</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>createJobApplication</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>getObjectType</name>
        <label>getObjectType</label>
        <locationX>407</locationX>
        <locationY>276</locationY>
        <actionName>FormSubmission_Helper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getContacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>masterNames</name>
            <value>
                <elementReference>$Record.Master_Name__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>objectTypeName</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Copy_1_of_setContactId</name>
        <label>setContactId</label>
        <locationX>209</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Master_Object_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createNewContact</name>
        <label>createNewContact</label>
        <locationX>209</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>newContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Surnames__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Birthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Job_Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobCandidate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Place_of_Residence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Raise_N_Go_News__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Raise_N_Go_News__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.LinkedIn_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LinkedIn__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Seguranca_Social__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Seguranca_Social__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.English_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.English_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Portuguese_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Portuguese_Level__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setContactId</name>
        <label>setContactId</label>
        <locationX>605</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateContact_assignment</name>
        <label>updateContact</label>
        <locationX>473</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>getContacts.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContacts.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContacts.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Surnames__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContacts.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Birthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContacts.Job_Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobCandidate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContacts.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Place_of_Residence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContacts.Raise_N_Go_News__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Raise_N_Go_News__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContacts.LinkedIn_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LinkedIn__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContacts.Seguranca_Social__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Seguranca_Social__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContacts.English_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.English_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContacts.Portuguese_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Portuguese_Level__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateContact_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isEmpty</name>
        <label>is Empty ?</label>
        <locationX>407</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>setContactId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>isEmpty_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createNewContact</targetReference>
            </connector>
            <label>isEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Master_Object_Type</name>
        <label>Master Object Type</label>
        <locationX>407</locationX>
        <locationY>1200</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Job_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job_Offer__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getJobOffer</targetReference>
            </connector>
            <label>Job Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>update_Contact</name>
        <label>update Contact?</label>
        <locationX>605</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Master_Object_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getContacts.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Phone__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContacts.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.First_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContacts.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Surnames__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContacts.Birthdate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Birthdate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContacts.MailingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Place_of_Residence__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContacts.Raise_N_Go_News__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Raise_N_Go_News__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContacts.LinkedIn_Profile__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LinkedIn__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContacts.Seguranca_Social__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Seguranca_Social__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContacts.English_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.English_Level__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContacts.Portuguese_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Portuguese_Level__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateContact_assignment</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Creates/Updates a contact using form Submission data and (if the case) a job application</description>
    <formulas>
        <name>jobCandidate</name>
        <dataType>Boolean</dataType>
        <expression>{!objectTypeName} == &apos;Job_Offer__c&apos;</expression>
    </formulas>
    <interviewLabel>FormSubmission_Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FormSubmission_Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Contact</name>
        <label>create Contact</label>
        <locationX>209</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Copy_1_of_setContactId</targetReference>
        </connector>
        <inputReference>newContact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createJobApplication</name>
        <label>createJobApplication</label>
        <locationX>275</locationX>
        <locationY>1416</locationY>
        <connector>
            <targetReference>FormSubmission_JobApplication</targetReference>
        </connector>
        <inputAssignments>
            <field>CV__c</field>
            <value>
                <elementReference>$Record.CV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>$Record.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Body__c</field>
            <value>
                <elementReference>getJobOffer.Email_Body__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Submission__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Offer__c</field>
            <value>
                <elementReference>getJobOffer.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getContacts</name>
        <label>getContacts</label>
        <locationX>407</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isEmpty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getJobOffer</name>
        <label>getJobOffer</label>
        <locationX>275</locationX>
        <locationY>1308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createJobApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Master_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Offer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateContact_Update</name>
        <label>updateContact</label>
        <locationX>473</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Master_Object_Type</targetReference>
        </connector>
        <inputReference>getContacts</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Form_Submission__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>getObjectType</targetReference>
            </connector>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>jobApplicationEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Olá {!$Record.First_Name__c} {!$Record.Surnames__c}&lt;/p&gt;&lt;p&gt;Antes de mais agradecemos o teu interesse na Raise N&apos;GO.&lt;/p&gt;&lt;p&gt;Iremos analisar a tua candidatura e em breve daremos feedback.&lt;/p&gt;&lt;p&gt;Caso tenhas alguma questão não hesites em falar conosco.&lt;/p&gt;&lt;p&gt;-------------------------------&lt;/p&gt;&lt;p&gt;Hi &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.First_Name__c} {!$Record.Surnames__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Thank you for your application and your interest in Raise N&apos;GO.&lt;/p&gt;&lt;p&gt;We will review your application and provide feedback as soon as possible.&lt;/p&gt;&lt;p&gt;If you have any questions let us know.&lt;/p&gt;&lt;p&gt;Kind regards&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://raisengo--jobapp.sandbox.file.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;amp;versionId=0682600000226H3&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05T26000006meMR&amp;amp;page=0&amp;amp;d=/a/260000005EB4/fPyiKbZnKW4md1pz7ht._HEKb9vIlffTzIXe1j7R9p4&amp;amp;oid=00D260000009L71&amp;amp;dpt=null&amp;amp;viewId=&quot; alt=&quot;logo.png&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>jobApplicationEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Raise N&apos;GO - {!getJobOffer.Name} Job Application</text>
    </textTemplates>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>objectTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
