force-app/main/default/flows/RecalculateBillableTimes_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>addAllTimes</name>
        <label>addAllTimes</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>allTimes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>timesToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopMembers</targetReference>
        </connector>
    </assignments>
    <interviewLabel>RecalculateBillableTimes_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecalculateBillableTimes_Flow</label>
    <loops>
        <name>loopMembers</name>
        <label>loopMembers</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>membersToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getTimes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateTimes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getTaskrayTeamMembers</name>
        <label>getTaskrayTeamMembers</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopMembers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AllInternalUsers</stringValue>
            </value>
        </filters>
        <object>TASKRAY__trContributor__c</object>
        <outputReference>membersToUpdate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Billable_Hours_x__c</queriedFields>
        <queriedFields>Hours_Permitted__c</queriedFields>
        <queriedFields>TASKRAY__Project__c</queriedFields>
        <queriedFields>TASKRAY__User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getTimes</name>
        <label>getTimes</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addAllTimes</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopMembers.TASKRAY__User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId.Id</elementReference>
            </value>
        </filters>
        <object>TASKRAY__trTaskTime__c</object>
        <outputReference>timesToUpdate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TASKRAY__Billable__c</queriedFields>
        <queriedFields>TASKRAY__Notes__c</queriedFields>
        <queriedFields>TASKRAY__Project__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateTimes</name>
        <label>updateTimes</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>allTimes</inputReference>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>656</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;An error has occurred when recalculating billable times. Please contact your Salesforce admin.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen_0</name>
        <label>ErrorScreen</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_0</name>
            <fieldText>&lt;p&gt;An error has occurred when recalculating billable times. Please contact your Salesforce admin.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen_0_0</name>
        <label>ErrorScreen</label>
        <locationX>920</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_0_0</name>
            <fieldText>&lt;p&gt;An error has occurred when recalculating billable times. Please contact your Salesforce admin.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success</name>
            <fieldText>&lt;p&gt;All billable times have been recalculated sucessfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getTaskrayTeamMembers</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>allTimes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trTaskTime__c</objectType>
    </variables>
    <variables>
        <name>membersToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trContributor__c</objectType>
    </variables>
    <variables>
        <name>projectId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>timesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trTaskTime__c</objectType>
    </variables>
</Flow>
