force-app/main/default/flows/ResetBillableHours_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>addHoursBillable</name>
        <label>addHoursBillable</label>
        <locationX>704</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>newHoursBillable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>hours_permitted.TASKRAY__Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>hours_permitted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToMap</name>
        <label>addToMap</label>
        <locationX>704</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>billableTimes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>hours_permitted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addHoursBillable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToMap_0</name>
        <label>addToMap</label>
        <locationX>968</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>notBillableTimes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>hours_permitted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>hours_permitted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>billable_false</name>
        <label>billable = false</label>
        <locationX>968</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>hours_permitted.TASKRAY__Billable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToMap_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>billable_true</name>
        <label>billable = true</label>
        <locationX>704</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>hours_permitted.TASKRAY__Billable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToMap</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_number_hours</name>
        <label>set number hours</label>
        <locationX>968</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>numberHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>hours_permitted.TASKRAY__Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>number_hours_compare_to_permitted_hours</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AHP_or_HP</name>
        <label>AHP or HP?</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>getTimes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ignore</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TASKRAY__Project__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual_Hour_Projects_AHP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TASKRAY__Project__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hour_Projects_HP</stringValue>
                </rightValue>
            </conditions>
            <label>ignore</label>
        </rules>
    </decisions>
    <decisions>
        <name>number_hours_compare_to_permitted_hours</name>
        <label>number hours compare to permitted hours</label>
        <locationX>968</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>hours_permitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>number_hours_lesser_equal_permitted_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberHours</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Hours_Permitted__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>billable_true</targetReference>
            </connector>
            <label>number hours &lt;= permitted hours</label>
        </rules>
        <rules>
            <name>number_hours_greater_permitted_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberHours</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Hours_Permitted__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>billable_false</targetReference>
            </connector>
            <label>number hours &gt; permitted hours</label>
        </rules>
    </decisions>
    <interviewLabel>Reset billable hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ResetBillableHours_Flow</label>
    <loops>
        <name>hours_permitted</name>
        <label>hours permitted</label>
        <locationX>616</locationX>
        <locationY>575</locationY>
        <collectionReference>getTimes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_number_hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateBillableTimes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getTimes</name>
        <label>getTimes</label>
        <locationX>616</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hours_permitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TASKRAY__User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TASKRAY__Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TASKRAY__trTaskTime__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateBillableHoursOnTeam</name>
        <label>updateBillableHoursOnTeam</label>
        <locationX>616</locationX>
        <locationY>1727</locationY>
        <inputAssignments>
            <field>Billable_Hours_x__c</field>
            <value>
                <elementReference>newHoursBillable</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateBillableTimes</name>
        <label>updateBillableTimes</label>
        <locationX>616</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>updateNotBillableTimes</targetReference>
        </connector>
        <inputReference>billableTimes</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateNotBillableTimes</name>
        <label>updateNotBillableTimes</label>
        <locationX>616</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>updateBillableHoursOnTeam</targetReference>
        </connector>
        <inputReference>notBillableTimes</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AHP_or_HP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hours_Permitted__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TASKRAY__trContributor__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>billableTimes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trTaskTime__c</objectType>
    </variables>
    <variables>
        <name>newHoursBillable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>notBillableTimes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trTaskTime__c</objectType>
    </variables>
    <variables>
        <name>numberHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
