force-app/main/default/flows/Send_Email_TaskRay_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Taskray</name>
        <label>Email Taskray</label>
        <locationX>1370</locationX>
        <locationY>1332</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Por favor completa HOJE os teus registos do Taskray</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Taskray_0</name>
        <label>Email Taskray</label>
        <locationX>1106</locationX>
        <locationY>876</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Por favor completa HOJE os teus registos do Taskray</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Taskray_0_0</name>
        <label>Email Taskray</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplateFriday</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Por favor completa HOJE os teus registos do Taskray</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Taskray_0_0_0</name>
        <label>Email Taskray</label>
        <locationX>314</locationX>
        <locationY>1092</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplateFriday</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Por favor completa HOJE os teus registos do Taskray</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>add_time</name>
        <label>add time</label>
        <locationX>534</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>time</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_taskray_times.TASKRAY__Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_taskray_times</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Taskray_Time</name>
        <label>Taskray Time</label>
        <locationX>1590</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>time</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_taskray_time_associated_with_taskray_task.TASKRAY__Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_taskray_time_associated_with_taskray_task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Day_of_Week</name>
        <label>Check Day of Week</label>
        <locationX>842</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Saturday_or_Sunday</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DayofWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saturday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DayofWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sunday</stringValue>
                </rightValue>
            </conditions>
            <label>Saturday or Sunday</label>
        </rules>
        <rules>
            <name>Monday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DayofWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Taskray_times_0</targetReference>
            </connector>
            <label>Monday</label>
        </rules>
        <rules>
            <name>Tuesday_Wednesday_Thursday_or_Friday</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>DayofWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tuesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DayofWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wednesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DayofWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thursday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DayofWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Friday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Taskray_Daily_Alert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getHolidays</targetReference>
            </connector>
            <label>Tuesday, Wednesday, Thursday or Friday</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Holiday</name>
        <label>is Holiday?</label>
        <locationX>1073</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Get_Taskray_times</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>holiday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getHolidays.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>holiday</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_less_than_8</name>
        <label>Time less than 8</label>
        <locationX>1502</locationX>
        <locationY>1212</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>time</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Taskray</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>time_less_than_weekly_working_hours</name>
        <label>time less than weekly working hours</label>
        <locationX>446</locationX>
        <locationY>972</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>time</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Weekly_Working_Hours__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Taskray_0_0_0</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>times_null</name>
        <label>times == null</label>
        <locationX>1304</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>Get_taskray_time_associated_with_taskray_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Taskray_times</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Taskray_0</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>times_null_0</name>
        <label>times == null</label>
        <locationX>248</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>loop_taskray_times</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Taskray_times_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Taskray_0_0</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>DayofWeek</name>
        <dataType>String</dataType>
        <expression>CASE( MOD( {!$Flow.CurrentDate} - DATE(1900, 1, 7), 7), 0, &quot;Sunday&quot;, 1, &quot;Monday&quot;, 2, &quot;Tuesday&quot;, 3,
&quot;Wednesday&quot;, 4, &quot;Thursday&quot;, 5, &quot;Friday&quot;, 6, &quot;Saturday&quot;,&quot;Error&quot;)</expression>
    </formulas>
    <formulas>
        <name>FridayDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + (-3)</expression>
    </formulas>
    <formulas>
        <name>MondayDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + (-7)</expression>
    </formulas>
    <formulas>
        <name>ThursdayDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + (-4)</expression>
    </formulas>
    <formulas>
        <name>TuesdayDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + (-6)</expression>
    </formulas>
    <formulas>
        <name>WednesdayDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + (-5)</expression>
    </formulas>
    <formulas>
        <name>YesterdayDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + (-1)</expression>
    </formulas>
    <interviewLabel>Send Email TaskRay Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email TaskRay Flow</label>
    <loops>
        <name>Get_taskray_time_associated_with_taskray_task</name>
        <label>Get taskray time associated with taskray task</label>
        <locationX>1502</locationX>
        <locationY>876</locationY>
        <collectionReference>Get_Taskray_times</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Taskray_Time</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Time_less_than_8</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_taskray_times</name>
        <label>loop taskray times</label>
        <locationX>446</locationX>
        <locationY>636</locationY>
        <collectionReference>Get_Taskray_times_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_time</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>time_less_than_weekly_working_hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Taskray_times</name>
        <label>Get Taskray Times</label>
        <locationX>1304</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>times_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>YesterdayDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TASKRAY__trTaskTime__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Taskray_times_0</name>
        <label>Get Taskray Times</label>
        <locationX>248</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>times_null_0</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>TASKRAY__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MondayDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TuesdayDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WednesdayDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ThursdayDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FridayDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TASKRAY__trTaskTime__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getHolidays</name>
        <label>getHolidays</label>
        <locationX>1073</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Holiday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>YesterdayDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Holiday</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Day_of_Week</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CompanyName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Raise N&apos;GO</stringValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-11</startDate>
            <startTime>13:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Olá {!$Record.FirstName},
Aparentemente não registaste as 8 horas de trabalho de ontem.
 Este registo é OBRIGATÓRIO até às 13:00 do dia útil seguinte. Por favor, regulariza esta informação ainda hoje.
Esta informação é essencial para o processo de pagamento dos projetos e melhoria do nosso desempenho.
Obrigado pela colaboração, 
Tiago Carmona</text>
    </textTemplates>
    <textTemplates>
        <name>EmailTemplateFriday</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Olá {!$Record.FirstName},
Aparentemente não registaste as {!$Record.Weekly_Working_Hours__c} horas de trabalho da semana anterior.
Este registo é OBRIGATÓRIO até às 13:00 do dia útil seguinte. Por favor, regulariza esta informação ainda hoje.
Esta informação é essencial para o processo de pagamento dos projetos e melhoria do nosso desempenho.
Obrigado pela colaboração, 
Tiago Carmona</text>
    </textTemplates>
    <variables>
        <name>time</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
