force-app/main/default/flows/SetBillableTimes_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>add_billable_hours</name>
        <label>add billable hours</label>
        <locationX>578</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>Team.Billable_Hours_x__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TASKRAY__Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_team</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AHP_or_HP_0</name>
        <label>AHP or HP?</label>
        <locationX>446</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>getTRTeam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>billable_true_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TASKRAY__Project__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual_Hour_Projects_AHP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TASKRAY__Project__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hour_Projects_HP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>billable_true_0_0</targetReference>
            </connector>
            <label>billable = true</label>
        </rules>
        <rules>
            <name>projeto_j_ultrapassou_as_contracted_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TASKRAY__Project__r.TASKRAY__trActualBillableHours__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.TASKRAY__Project__r.Contracted_Hours__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_billable_false</targetReference>
            </connector>
            <label>projeto já ultrapassou as contracted hours?</label>
        </rules>
    </decisions>
    <decisions>
        <name>hours_billable_plus_new_time_comparing_to_permitted_hours</name>
        <label>hours billable plus new time comparing to permitted hours</label>
        <locationX>842</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hours_less_equal_permitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hoursBillableAndPermittedHours</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Team.Hours_Permitted__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>billable_true</targetReference>
            </connector>
            <label>hours &lt;= permitted</label>
        </rules>
        <rules>
            <name>hours_greater_permitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hoursBillableAndPermittedHours</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Team.Hours_Permitted__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>billable_false</targetReference>
            </connector>
            <label>hours &gt; permitted</label>
        </rules>
    </decisions>
    <formulas>
        <name>hoursBillableAndPermittedHours</name>
        <dataType>Number</dataType>
        <expression>{!Team.Billable_Hours_x__c} + {!$Record.TASKRAY__Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SetBillableTimes_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SetBillableTimes_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getTRTeam</name>
        <label>getTRTeam</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hours_billable_plus_new_time_comparing_to_permitted_hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TASKRAY__Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TASKRAY__Project__c</elementReference>
            </value>
        </filters>
        <object>TASKRAY__trContributor__c</object>
        <outputReference>Team</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Hours_Permitted__c</queriedFields>
        <queriedFields>Billable_Hours_x__c</queriedFields>
        <queriedFields>TASKRAY__Project__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>billable_false</name>
        <label>billable = false</label>
        <locationX>842</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>TASKRAY__Billable__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>billable_true</name>
        <label>billable = true</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>add_billable_hours</targetReference>
        </connector>
        <inputAssignments>
            <field>TASKRAY__Billable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>billable_true_0_0</name>
        <label>billable = true</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>TASKRAY__Billable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_billable_false</name>
        <label>Copy 1 of billable = false</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>TASKRAY__Billable__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_team</name>
        <label>update team</label>
        <locationX>578</locationX>
        <locationY>888</locationY>
        <inputReference>Team</inputReference>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AHP_or_HP_0</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__Hours__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>TASKRAY__trTaskTime__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths/>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Team</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trContributor__c</objectType>
    </variables>
</Flow>
