force-app/main/default/flows/SetBillableTimesWhenDelete_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>AHP_or_HP_0</name>
        <label>AHP or HP?</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>getTeam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ignore_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getProject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual_Hour_Projects_AHP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getProject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hour_Projects_HP</stringValue>
                </rightValue>
            </conditions>
            <label>ignore</label>
        </rules>
    </decisions>
    <formulas>
        <name>newBillableHours</name>
        <dataType>Number</dataType>
        <expression>{!getTeam.Billable_Hours_x__c} - {!$Record.TASKRAY__Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SetBillableTimesWhenDelete_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SetBillableTimesWhenDelete_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getProject</name>
        <label>getProject</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AHP_or_HP_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TASKRAY__Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TASKRAY__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTeam</name>
        <label>getTeam</label>
        <locationX>308</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateTeam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TASKRAY__Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TASKRAY__Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TASKRAY__trContributor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateTeam</name>
        <label>updateTeam</label>
        <locationX>308</locationX>
        <locationY>671</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getTeam.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billable_Hours_x__c</field>
            <value>
                <elementReference>newBillableHours</elementReference>
            </value>
        </inputAssignments>
        <object>TASKRAY__trContributor__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getProject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__Billable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TASKRAY__trTaskTime__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
