force-app/main/default/flows/SetTWAOnTask_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>TWA_matches_criteria</name>
        <label>TWA matches criteria</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TWA.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>YearTWA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YearTask</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>YearTask</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Record.TASKRAY__trStartDate__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>YearTWA</name>
        <dataType>Number</dataType>
        <expression>YEAR({!Get_TWA.Date__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SetTWAOnTask_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SetTWAOnTask_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_TWA</name>
        <label>Get TWA</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TWA_matches_criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Week_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Week_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskRay_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TASKRAY__Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskRay_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TaskRay_Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Team_Weekly_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Team_Weekly_Allocation__c</field>
            <value>
                <elementReference>Get_TWA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_TWA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Team_Weekly_Allocation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__trStartDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
