force-app/main/default/flows/SupportUpdateCases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>When the task is closed, it updates the case stage to reflect the same status</description>
        <name>Task_is_closed</name>
        <label>Task is closed?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TASKRAY__List__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Cases</targetReference>
            </connector>
            <label>Is closed</label>
        </rules>
    </decisions>
    <description>This flow updates the case with information through the object TaskRay task and closes the case if the task is closed</description>
    <interviewLabel>SupportUpdateCases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SupportUpdateCases-CloseTasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Check the related case with the same ID</description>
        <name>Check_Cases</name>
        <label>Check Cases</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Cases</name>
        <label>Copy 1 of Update Cases</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_Cases.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cases</name>
        <label>Update Cases</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Task_is_closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_Cases.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TR_Close_Date__c</field>
            <value>
                <elementReference>$Record.Close_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Deadline_to_solve_c__c</field>
            <value>
                <elementReference>$Record.Deadline_to_solve__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_First_Reply__c</field>
            <value>
                <elementReference>$Record.First_reply__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Impact_Level__c</field>
            <value>
                <elementReference>$Record.Impact_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Initial_Waiting_for_Someone_Date__c</field>
            <value>
                <elementReference>$Record.Initial_Waiting_for_Someone_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Notes__c</field>
            <value>
                <elementReference>$Record.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Project__c</field>
            <value>
                <elementReference>$Record.TASKRAY__Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Schedule__c</field>
            <value>
                <elementReference>$Record.Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Status__c</field>
            <value>
                <elementReference>$Record.TASKRAY__List__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Support_Type__c</field>
            <value>
                <elementReference>$Record.Support_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Time_Paused__c</field>
            <value>
                <elementReference>$Record.Time_Paused__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Time_Spent_First_Reply__c</field>
            <value>
                <elementReference>$Record.Time_spent_first_reply__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Time_spent__c</field>
            <value>
                <elementReference>$Record.Time_spent__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Cases</targetReference>
        </connector>
        <object>TASKRAY__Project_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
