force-app/main/default/flows/Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>IF_last_day_year</name>
        <label>IF last day year</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LastDayYear</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isLastDayOfYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateUsers</targetReference>
            </connector>
            <label>LastDayYear</label>
        </rules>
    </decisions>
    <formulas>
        <name>isLastDayOfYear</name>
        <dataType>Boolean</dataType>
        <expression>AND(
MONTH(TODAY()) = 12,
DAY(TODAY())=31
)</expression>
    </formulas>
    <interviewLabel>Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Last Year Worked Days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateUsers</name>
        <label>updateUsers</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e58000000hgW8</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e58000000ammu</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e8d000000pEN1</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e8d000000pWqx</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e58000000amn3</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e58000000amn1</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e58000000ammz</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Holidays_Counter_last_year_new__c</field>
            <value>
                <elementReference>$User.Holidays_Counter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NWD_Last_Year__c</field>
            <value>
                <elementReference>$User.NWD_This_Year__c</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IF_last_day_year</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-12-31</startDate>
            <startTime>21:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
